:root {
    --height-header: 10vh;
    --height-footer: 10vh;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}


/* ====================== HEADER ========================= */

header {
    background-color: #0d7a3f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--height-header);
    width: 100%;
    padding: 10px 20px;
}


header .logo {
    height: 100%;
}

header .logo img {
    padding: 5px;
}

header nav {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
}

nav a:hover {
    font-size: 1.1rem;
}

/* ====================== MENSAGENS ========================= */

.bold {
    font-weight: bold;
}

.msg-container {
    padding: 15px;
}

.msg {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    border: solid 1px #000;
    text-align: center;
}

.msg.error {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.msg.success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

/* ====================== CONTAINER ========================= */

.container {
    display: flex;
    height: calc(100vh - var(--height-header) - var(--height-footer));
    width: 100vw;
}

/* ======================== ASIDE =========================== */

aside {
    background-color: #085f31;
    color: white;
    height: 100%;
    width: 27.5%;
    padding: 10px;
}

.aside_title {
    color: white;
    padding: 5px;
}

aside span, li {
    cursor: pointer;
}

aside a:hover, span:hover, li:hover {
    text-decoration: underline;
}

.item_aside {
    text-align: justify;
    background-color: #0c4928;
    width: 100%;
    padding: 10px;
}

.item {
    color: #fff;
    margin-left: 5px;
    width: 100%;
    text-decoration: none;
}

.button-new-task {
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    background-color: transparent;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.button-new-task:hover {
    text-decoration: underline;
}

/* .new-task {
    background-color: #30e929;
    width: 50%;
    height: 50%;
}

.new-task-sub {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px;
} */

li {
    list-style-type: none;
}

.hidden_list_aside {
    display: none;
}

.hidden_list_aside li {
    margin-left: 10px;
}

/* ======================= SECTION ========================== */

section {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}

.section-articles {
    color: #000;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.section-articles a {
    color: white;
    text-decoration: none;
}

article {
    background-color: #085f31;
    width: 100%;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.task-buttons {
    display: flex;
}


/* ======================= FORMS ========================== */


.form {
    width: 30%;
    max-width: 450px;
    padding: 20px;
    margin: auto;
    border-width: 5px;
    border-style: solid;
    border-color: #085f31;
    border-radius: 20px;
}

.form-control {
    color: black;
    display: flex;
    flex-direction: column;
}

.form-control input {
    font-family: 'Courier New', Courier, monospace;
    margin: 1% 0;
    height: 2.2rem;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.form-control input[type="submit"] {
    color: #fff;
    background-color: #0d7a3f;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    margin-top: 10px;
    cursor: pointer;
}

.form-control textarea {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.form-redirect {
    color: #000;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.form-redirect a {
    color: #0d7a3f;
    text-decoration: none;
}


/* ======================== FOOTER ========================== */

footer {
    background-color: #0d7a3f;
    height: var(--height-footer);
    display: flex;
    justify-content: center;
    align-items: center;
}